body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #62a6c8;
}

header {
    background-color: #262626;
    color: #fff;
    padding: 80px;
    text-align: left;
    position:absolute;
    top: 0;
    left: 0;
    min-height: 228vh;
    justify-content: center;
    align-items: center;
    height: 130vh;
    font-size: larger;
    font-weight: bolder;
}

.container {
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

h2 {
    margin-top: 20px;
    font-size:30px;
    text-transform: uppercase;
    text-decoration:underline;
}

.gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 70px;
    justify-content: center;
    justify-items: center;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
        max-width: 120%;
        height: auto;
        display: block;
        margin: 20px -150px 10px 190px;
        border-radius: 20px;
}

.gallery video {
    width: 150%; /* Make videos fill container width */
    height: auto;
    max-width: 3000px; /* Limit video width */
    display: block;
    margin: 20px -245px 20px 90px;
    border-radius: 20px;
}