body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('sky 3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

button {
    background-color:rgb(26, 75, 223);
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #0d0d0d;
}

.section {
    background-color:#e1e3d2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px auto; 
    margin-bottom: 20px;
    width: calc(50% - 20px);
    max-width: 600px;
    text-align: center;
}


.section p {
    color:#000000;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

.container h1 {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 60px;
    color: #000000;
    text-transform: capitalize;
    transform: translateX(-50%); /* Center horizontally */   
}
